[submodule "optional"]
	path = optional
	url = https://github.com/akrzemi1/Optional
[submodule "variant"]
	path = variant
	url = git@github.com:mapbox/variant.git
[submodule "murmur3"]
	path = murmur3
	url = https://github.com/PeterScott/murmur3.git
